@import url("./index.css");

.gallery-main-container {
  width: 100%;
  text-align: center;
}

.gallery-main-container > h4 {
  margin: 30px auto;
}

.head {
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px auto;
  font-size: 1.6em;
}

.gallery-intro{
  margin: 20px auto;
  text-align: left;
  max-width: 95%;
  padding: 20px;
  box-shadow: 1px 1px 4px 1px rgb(179, 179, 179);
}

.gallery-intro>*{
  margin: 2px auto;
}

.gallery-intro>a{
  text-decoration: none;
}

.gallery-intro>p{
  margin-bottom: 10px;
}

.gallery-art {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  padding: 10px;
}

.gallery-post {
  box-shadow: 0.1px 0.1px 4px 1px grey;
  margin: 15px;
  text-decoration: none;
  padding-bottom: 15px;
}

.tooltiptext {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  box-shadow: 1px 1px 2px grey;

}

.tooltiptext:hover{
  box-shadow: 1px 1px 2px 1px grey;
}

.gallery-post:hover {
  transition: all ease 0.3s;
  transform: scale(1.02);
  cursor: pointer;
}

.gallery-post > img {
  width: 100%;
  max-width: 650px;
}

.gallery-post > h4 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.gallery-post > h5 {
  margin-bottom: 5px;
  color: #666;
}

.gallery-contact {
  margin: 50px auto;
}

.gallery-contact > h3 {
  margin: 5px;
}

#cross {
  position: absolute;
  top: 35px;
  right: 12px;
  font-size: 2em;
  font-family: monospace;
  font-weight: 900;
  opacity: 0;
  transition: all ease 0.3s;
  z-index: 2;
}
