@import url("./index.css");

.gallery-main-container {
  width: 100%;
  text-align: center;
}

.gallery-main-container > h4 {
  margin: 30px auto;
}

.gallery-art {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  padding: 10px;
}

.gallery-post {
  box-shadow: 0.1px 0.1px 4px 1px grey;
  margin: 15px;
}

.gallery-post:hover {
  transition: all ease 0.3s;
  transform: rotateZ(5deg);
}

.gallery-post > img {
  width: 250px;
}

.gallery-post > h4 {
  color: #444;
  font-weight: 400;
}

.gallery-post > h5 {
  margin-bottom: 5px;
  color: #666;
}

.gallery-contact {
  margin: 50px auto;
}

.gallery-contact > h3 {
  margin: 5px;
}

#cross {
  position: absolute;
  top: 35px;
  right: 12px;
  font-size: 2em;
  font-family: monospace;
  font-weight: 900;
  opacity: 0;
  transition: all ease 0.3s;
  z-index: 2;
}
