* {
  font-family: quicksand-bold;
}

.head {
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px auto;
  font-size: 1.6em;
}

.book-head {
  font-weight: 540;
  margin: 20px auto 0 0;
}

.new-book-img {
  width: 100%;
  max-width: 650px;
  box-shadow: 0.2px 0.2px 2px rgb(12, 12, 12);
  margin: auto;
}

.all-book-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border: 1px solid rgba(0, 80, 184, 0.103);
  box-shadow: 0.3px 0.3px 3px rgba(0, 80, 184, 0.11);
  margin: 20px;
  padding: 20px;
}

.book-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px auto;
  border-radius: 2px;
}

.description {
  margin: 20px auto;
  max-width: 450px;
  text-align: left;
  font-size: 1em;
  line-height: 20px;
  word-spacing: 5px;
  font-family: quicksand;
}

.link-button {
  font-family: serif;
  display: block;
  text-decoration: none;
  padding: 5px;
  box-shadow: 0.5px 0.5px 5px grey;
  width: fit-content;
  margin-top: 10px;
  color: white;
  background: black;
  transition: all ease 0.3s;
  font-size: 0.8 "" em;
  margin: 10px auto 10px 0;
}

@media screen and (max-width: 1090px) {
  .all-book-container {
    flex-direction: column-reverse;
  }
}
